---
---
<section class="w-full flex gap-8 p-[100px]">
    <div class="w-[50%] flex gap-8 items-end">
        <img
        class="w-[400px] rounded-xl object-cover h-[520px]"
        src="../../hero-1.png"/>
        <div class="flex flex-col gap-8">
            <h1 class="text-white text-3xl font-bold">La pasión por el juego es la clave del éxito.</h1>
            <button class="text-white px-4 py-2 rounded-full bg-blue-500">Comprar ahora</button>
        </div>
    </div>
    <div class="w-[50%] flex flex-col justify-between">
        <div class="flex justify-end gap-8">
            <img
            class="w-[300px] rounded-xl object-cover h-[393px]"
            src="../../hero-2.png"/>
            <img
            class="w-[200px] rounded-xl object-cover h-[300px]"
            src="../../hero-3.png"/>
        </div>
        <article class="flex gap-4 w-full justify-end">
            <img
            class="w-[70px] rounded-xl object-cover h-[70px]"
            src="../../hero-1.png"/>
            <div class="text-white">
                <h1 class="text-xl font-bold">Balones</h1>
                <span>Los mejores precios</span>
            </div>
        </article>
    </div>
</section>