---
import Header from "./Header/Header.astro";
import Hero from "./Hero.astro";
import { LINKS_NAVBAR } from "./Header/constants.astro";
---

  <body>
    <Header links={LINKS_NAVBAR} />
    <Hero/>
  </body>
